python-master
pytest/
__pycache__
_linux
*.xml
*.txt
*.html
.DS_Store
class_syntax_explanation.py
class_syntax_explanation2.py
.vscode/
*.xlsx
*.dat
*.tsv
*.csv
*.log
.idea/
.idea/*
.vscode
.docx
.env
.pytest_cache/
.pytest_cache/*
*.pyc
*.pyo
*.pyd
*.so
*.egg   